.footer {
    top: 46rem;
    height: 5rem;
    position: relative;

    &-content {
        background-image: linear-gradient(#F8E1DB, #F8E1DB), url(../../img/bcfooter.png);
        position: relative;
        height: 52rem;
        border-top-left-radius: 12rem;
        border-top-right-radius: 12rem;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        &__img {
            left: 134rem;
            top: -3rem;
            padding: 1.8rem;
            position: relative;
            background-color: $white-color;
            border-radius: 20px;
            box-shadow: (5px 10px 15px rgba(59,55,53,0.05 ));
        }

        &__left {
            margin: 0 auto;
            margin-top: 2rem;
            &--description {
                width: 77%;
                font-family: "archivo";
                font-size: 1.4rem;
                font-weight: normal;
                line-height: 28px;
                font-style: normal;
                text-align: left;
                color: #3b3735;
            }
        }

        &__right {
            margin-right: 10rem;
            margin-top: 2rem;
            display: flex;
            flex-direction: row;
        }

        &__center1 {
            list-style: none;
            margin-right: 5.4rem;
        }
    }

    &-dowload {
        position: relative;
        top: -24rem;
        left: 9rem;
        display: flex;
        flex-direction: column;

        &__wrap--img {
            width: 14rem;
            height: 4rem;
        }
    }

    &-policy {
        position: relative;
        top: -16rem;
        left: 71rem;

        &__text {
            font-family: "archivo";
            font-size: 16px;
            font-weight: normal;
            line-height: 28px;
            font-style: normal;
            text-align: left;
            color: $black-text-color;
        }
    }
}
